@model Joke_App.Models.Joke;

<form asp-action="addJoke" method="post">

    <h1>Edit Joke</h1>

    <div class="mb-3">
        <label class="form-label">Joke Question</label>
        <input asp-for="JokeQuestion" type="text" class="form-control" />
    </div>

    <div class="mb-3">
        <label class="form-label">Joke Answer</label>
        <input asp-for="JokeAnswer" type="text" class="form-control" />
    </div>


    <input type="button" class="btn btn-primary" value="Save Joke"/> 

</form>