@model Joke_App.Models.Joke

<div>

    <form method="post" asp-action="Update">
        <input type="hidden" asp-for="Id" />
        <label> Joke Question</label>
        <input asp-for="JokeQuestion" type="text" />

        <label>Joke Answer</label>
        <input asp-for="JokeAnswer" type="text"  />

    </form>
 


</div>