@{
    ViewData["Title"] = "View Jokes";
}
@model IEnumerable<Joke_App.Models.Joke>


<div>
    <h3>Jokes</h3>
    @foreach (var joke in Model)
    {
        <div>
            <div>
                <h3>@joke.JokeQuestion</h3>

            </div>
            <div>
                <button><a asp-action="ViewJoke" asp-route-id="@joke.Id">View</a></button>
                <button><a asp-action="Edit" asp-route-id="@joke.Id">Edit </a></button>
                <button><a asp-action="Delete" asp-route-id="@joke.Id"> Delete</a> </button>
            </div>
        </div>
    }
</div>